<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Konzole System</title>

    @Styles.Render("~/Content/startmin")
    @Styles.Render("~/Content/bootstrap")
    @*@Styles.Render("~/Content/metisMenu")
        @Styles.Render("~/Content/timeline")*@

    @Styles.Render("~/Content/morris")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @*@Styles.Render("~/Content/Site")*@
    <!-- DataTables CSS -->
    @Styles.Render("~/Content/dataTable-style")
    @Scripts.Render("~/Content/jquery")
    <!-- DataTables JS -->
    @Scripts.Render("~/Content/dataTable-script")
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        input:required:focus, select:required:focus {
            border: 1px solid red;
            outline: none;
        }

        input:required:focus, select:required:hover {
            opacity: 1;
        }

        .black-background {
            background-color: #000000;
        }

        .white {
            color: #ffffff;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-light" style="background-color: #293A48;">
            @*<ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a id="btnToggle" href="#" title="Toggle Menu" style="visibility:inherit"><i class="fa fa-angle-double-left fa-fw"></i>Menu</a></li>

                </ul>*@
            <div class="navbar-header">
                <span class="navbar-brand" href="#">e-Career System</span>
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <ul class="nav navbar-right navbar-top-links">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> Setting<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="#" data-toggle="modal" data-target="#mdLogout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.navbar-top-links -->
            <div id="dvMenu" class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href=@Url.Action("Index", "Home")><i class="fa fa-dashboard fa-fw"></i> Home</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "JobList")><i class="fa fa-dashboard fa-fw"></i> List of Jobs</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Index", "Company")><i class="fa fa-dashboard fa-fw"></i> Company Profile</a>
                        </li>



                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Page Content -->
        @RenderBody()
        <!-- /#page-wrapper -->


    </div>
    <!-- /#wrapper -->

    <div class="modal fade" id="mdLogout" tabindex="-1" role="dialog" aria-labelledby="mdLogoutLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:350px;top:250px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnCloseLogout" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="mdLogoutLabel">User Log out</h4>
                </div> <!-- /.modal-header -->

                <div class="modal-body">
                    Are you sure you want to log-out?<br />
                    <span style="font-size:9px;">Note: Currect running time will be lost.</span>
                </div> <!-- /.modal-body -->

                <div class="modal-footer">
                    @*@Html.ActionLink("Logout", "LogOff", "Account", routeValues: new { area = "" }, htmlAttributes: new { @class = "btn btn-success", @style = "width:150px;" })*@
                    <button id="btnCancel" class="form-control btn btn-danger" data-dismiss="modal" style="width:150px;">Cancel</button>
                </div> <!-- /.modal-footer -->

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    @Scripts.Render("~/Content/js")

    @Scripts.Render("~/Content/scripts/jquery-ui.js")
    @Styles.Render("~/Content/css/jquery-ui.css")
    @*<script type="text/javascript">
                $("#btnToggle").click(function (e) {

                    if ($("#dvMenu").is(':visible')) {
                        $(this).html('<i class="fa fa-angle-double-right fa-fw"></i>Menu');
                        $("#dvMenu").fadeOut();
                        $("#page-wrapper").animate({ "margin-left": '0' });
                    }
                    else {
                        $(this).html('<i class="fa fa-angle-double-left fa-fw"></i>Menu');
                        $("#page-wrapper").animate({ "margin-left": '250px' });
                        $("#dvMenu").fadeIn();
                    }

                });
        </script>*@
</body>

</html>